* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1185px;
    margin: 0 auto;
}

/* HEADER */
.header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;
}

.header__logo-link {
    margin-right: 100px;
}

.header__menu {
    display: flex;
    margin-right: 200px;
    align-self: flex-end;
}

.header__menu-item {
    margin-right: 50px;
    font-size: 16px;
    color: #1E266D;
    position: relative;
}

.header__menu-item:hover::before {
    content: "";
    position: absolute;
    left: 35%;
    top: -20px;
    width: 10px;
    height: 10px;
    background-image: url('../img/arrow-menu.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.header__menu-item:last-child {
    margin-right: 0;
}

.header__phone {
    margin-right: 35px;
    color: #1E266D;
}

.header__contact-us {
    /* text */
    font-size: 16px;    
    line-height: 40px;
    color: #fff;
    
    /* button */
    padding: 0 15px;
    cursor: pointer;
    background: #3751FF;
    border-radius: 100px;
    border: 0;

    transition: all .3s;
}

.header__contact-us:hover {
    background: rgb(35, 47, 128);
}

/* HERO */

.hero {
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 175px;
    background: linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%, #F2F9FF 100%);
    z-index: -1;
}

.hero__inner {
    padding: 145px 0 15px;
    text-align: center;
}

.hero__title {
    font-size: 56px;
    line-height: 59px;
    color: #1E266D;
    max-width: 550px;
    margin: 0 auto 28px;
}

.hero__text {
    font-size: 18px;
    line-height: 27px;
    color: #455880;
    margin-bottom: 28px;
}

.hero__btn {
    padding: 18px 38px;
    font-size: 16px;
    color: #455880;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    cursor: pointer;
    border: 0;
    transition: all .3s;

    margin-bottom: 32px;
}

.hero__btn + .hero__btn {
    margin-left: 25px;
}

.hero__btn:hover {
    color: #FFFFFF;
    background: #3751FF;
}

.hero__img {
    display: block;
    margin: 0 auto;
}

/* LOGOS */

.logos__inner {
    padding: 55px 0 70px;
}

.logos__title {
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: rgba(69, 88, 128, 0.5);
    margin-bottom: 50px;
}

.logos__items {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.logos__item {
    opacity: .7;
    transition: all .3s;
}

.logos__item:hover {
    cursor: pointer;
    opacity: 1;
}